<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/createblog" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="title" required> <br>
        <textarea name="content" placeholder="content" required id=""></textarea> <br>
        <input type="file" name="coverImage" id=""><br><br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>